# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.


wallet/ui/daml.js
*.dar
triggers/.daml
wallet/.daml
build
node_modules
*.zip

*.log

ui/daml.js
.DS_Store
/ui/account.js
/ui/user.js
/ui/asset.js